[data-bs-theme="dark"] {
    --bg-main: hsl(270, 100%, 20%);
    --bg-nav: hsl(277, 100%, 40%);
    --bg-emphasis: hsl(105, 100%, 20%);
    --bg-footer: hsl(240, 100%, 60%);
    --text-title: rgb(255, 255, 255);
    --text-body: rgb(222, 226, 230);
}

[data-bs-theme="light"] {
    --bg-main: hsl(270, 67%, 61%);
    --bg-nav: hsl(236, 100%, 68%);
    --bg-emphasis: hsl(107, 100%, 40%);
    --bg-footer: hsl(235, 100%, 79%);
    --text-title: rgb(0, 0, 0);
    --text-body: rgb(33, 29, 25);
}

.bg-main{
    background-color: var(--bg-main);
}
.bg-nav{
    background-color: var(--bg-nav);
}
.bg-emphasis{
    background-color: var(--bg-emphasis);
}
.bg-footer{
    background-color: var(--bg-footer);
}

.scroll-to-top {
    position: relative;
  }
  
.btn-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
}
  
.btn-style {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-title);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--text-title);
    cursor: pointer;
    font-size: 40px;
    display: flex;
    mix-blend-mode: difference;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}